{% if entities | length == 0 %}
     <br/><br/><br/><br/><br/>
    <p align="center">
        <font color='green' size="5px">La orden no tiene activos asociados</font>
    </p>
{% else %}
<h1 align='center' class="textoDecorado">Mobiliarios</h1>
<table class="records_list tabla-1" align='center'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nro de inventario</th>
            <th>Descripci&oacute;n</th>
            <th>Valor</th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.nrobiennacional }}</td>
            <td>{{ entity.mobiliario.descripcion }}</td>
            <td>{{ entity.mobiliario.valor }}</td>
            
            <td>
                <ul>
                    {% if orden_id is defined %}
                        <li>
                            <a class="dialogo-form-lista-editar" href="{{ path('mobiliario_edit', { 'id': entity.mobiliario.id, 'orden_id' : orden_id}) }}">
                                <img src="{{ asset('bundles/inhack20inventario/images/modificar.png') }}" width="24" height="24" alt="Editar" />
                                Editar</a>
                        </li>
                   {% endif %}     
                   {% if comprobante_id is defined %}
                        {% if accion is defined and accion == OPERACIONES %}
                            <li>
                                <a class="ajaxResult-activos" href="{{ path('comprobante_remover_activo', { 'comprobante_id': comprobante_id ,'activo_id' : entity.id }) }}">
                                    <img src="{{ asset('bundles/inhack20inventario/images/eliminar.png') }}" width="24" height="24" alt="Remover" />
                                </a>
                            </li>
                        {% endif %}
                   {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function(){
       {% if orden_id is defined %}
            $( ".dialogo-form-lista-editar" )
                        .click(function(e) {
                            e.preventDefault();
                            cargando();
                                $("#dialogo-contenido").load($(this).attr('href'),function(){
                                    listoCargado();
                                $( "#dialogo" ).fadeIn(400).dialog( "open" );
                            });

            });
        {% endif %}     
        {% if comprobante_id is defined %}
            $(".ajaxResult-activos").click(function(e){
                                e.preventDefault();
                                
                                    cargando();
                                    $("#result-activos").load($(this).attr('href'),function(){
                                        listoCargado();
                                    });
                });
        {% endif %}     
    });
</script>
{% endif %}