{% extends app.request.isXmlHttpRequest ? 'INHack20InventarioBundle::base_ajax.html.twig' : 'INHack20InventarioBundle::base.html.twig' %}
{% block contenido %}
<h1 align='center' class="textoDecorado">Mobiliarios</h1>

<table class="records_list" align='center'>
    <thead>
        <tr>
            
            
            <th>N&deg; Inventario</th>
            <th>U.T.</th>
            <th>Descripci&oacute;n</th>
            <th>Valor</th>
            <th>Ubicaci&oacute;n</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            
            <td>{{ entity.nroinventario }}</td>
            <td>{{ entity.unidadtributaria }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>{{ entity.valor }}&nbsp;Bs</td>
            <td>{{ entity.ubicacion.dependencia }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('mobiliario_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('mobiliario_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock%}