{% form_theme form theme %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
    {{ form_widget(form.user,{'attr' : {'align' : 'center'} }) }}
    <br/>
    
    <table align="center"><tr><td>{{ form_rest(form) }}</td></tr></table>
    <p align="center">
     <br/><br/>
        <input class="miBoton" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </p>
</form>
