{% extends app.request.isXmlHttpRequest ? 'INHack20InventarioBundle::base_ajax.html.twig' : 'INHack20InventarioBundle::base.html.twig' %}
{% block titulo %}Editar Firma{% endblock %}
{% block contenido %}
<h1 class="textoDecorado">Editar Firma</h1>
<br/><br/>
<form id="frmEditar" action="{{ path('firma_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <br/><br/><br/>
    <table width="100%" border="0">
    <tr>
        <td>
            <button class="miBoton" type="submit">
                <img src="{{ asset('bundles/inhack20inventario/images/guardar.png') }}" width="24" height="24" alt="Guardar" />
                Guardar Cambios
            </button>
        </td>
        <td>
            <button id="btnEliminar" class="miBoton">
                            <img src="{{ asset('bundles/inhack20inventario/images/eliminar.png') }}" width="24" height="24" alt="Eliminar" />
                            Eliminar</button>
        </td>
    </tr>
    </table>
</form>
<form id="frmEliminar" action="{{ path('firma_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                       
</form>

    {% include 'INHack20InventarioBundle:JS:ajaxFrmEditar.js.twig' %}
{% endblock %}