{% if pager.hasResults | length > 0 %}
<h1 class="textoDecorado">Listado de Firmas</h1>
<br><br>
{% if pager.isPaginable %}
<table align="right"><tr><td>{{ paginate(pager,'firma') }}</td></tr></table>
<br/><br/>
{% endif %}
<table class="records_list tabla-1" align="center">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Ubicacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.getResults %}
        <tr {% if loop.index % 2 == 0 %}class="odd"{% endif%}>
            <td>{{ entity.cedula }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.cargo }}</td>
            <td>{{ entity.ubicacion.dependencia }}</td>
            <td>
                <ul>
                    <li>
                        <a class="ajaxContenido" href="{{ path('firma_show', { 'id': entity.id }) }}">
                            <img src="{{ asset('bundles/inhack20inventario/images/ver.png') }}" width="24" height="24" alt="Ver" />
                            Ver</a>
                    </li>
                    <li>
                        <a class="ajaxContenido" href="{{ path('firma_edit', { 'id': entity.id }) }}">
                            <img src="{{ asset('bundles/inhack20inventario/images/modificar.png') }}" width="24" height="24" alt="Editar" />
                            Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% include 'INHack20InventarioBundle:JS:ajaxContenido.js.twig' %}
{% if pager.isPaginable %}
    {{ paginate(pager,'firma') }}
{% endif %}
{% else %}
<br/><br/>
<h1 class="textoDecorado">No existen firmas registradas.</h1>
{% endif%}