{% extends app.request.isXmlHttpRequest ? 'INHack20InventarioBundle::base_ajax.html.twig' : 'INHack20InventarioBundle::base.html.twig' %}
{% block titulo %}Editar Comprobante{% endblock %}
{% block contenido %}
<h1 class="textoDecorado" >Editar Comprobante</h1>
<br/><br/>
<form id="frmEditar" action="{{ path('comprobante_update', { 'id': entity.id}) }}" method="post" {{ form_enctype(form) }}>
      {{ form_row(form._token) }}           
        {{ form_row(form.tipo) }}           
    <table width="620" border="0" align="center" cellpadding="2" cellspacing="2">
                    
                    <tr>
                      <th colspan="2" bgcolor="#CCCCCC">DEPENDENCIA USUARIA</th>
                    </tr>
                    <tr>
                        <td class="field" colspan="2">{{ form_row(form.ubicacion) }}</td>
                        
                    </tr>
                    <tr>
                      <th colspan="2" bgcolor="#CCCCCC">ALMACEN</th>
                    </tr>
                    <tr>
                        <td class="field">{{ form_row(form.almacen_codigo) }}</td>
                        <td class="field">{{ form_row(form.almacen_denominacion) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="field">{{ form_row(form.almacen_resp_ci)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="field">{{ form_row(form.almacen_resp_apell_nom) }}</td>
                    </tr>
                     
                  </table>
                    <br/>
                    <table align='center'>
                           <tr>
                              <td class="field">{{ form_row(form.nota) }}</td>
                           </tr>
                    </table>
                    <table align='center'>
                           <tr>
                              <td class="field">{{ form_row(form.tipoactivo) }}</td>
                           </tr>
                    </table>
                    
                    {{ form_rest(form)  }}
        
    <br/><br/>
    <table align="center" width="100%" border="0">
        <tr>
            <td>
                <button id="btnGuardar" class="miBoton" type="submit">
                    <img src="{{ asset('bundles/inhack20inventario/images/guardar.png') }}" width="24" height="24" alt="Guardar" />
                    Guardar Cambios
                </button>
            </td>
            <td>
                <button id="btnEliminar" class="miBoton">
                                <img src="{{ asset('bundles/inhack20inventario/images/eliminar.png') }}" width="24" height="24" alt="Eliminar" />
                                Eliminar</button>
            </td>
        </tr>
    </table>
   
</form>

<br/><br/>
<form id="frmRegistrar" action="{{ path('comprobante_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
</form>
    {% include 'INHack20InventarioBundle:JS:ajaxFrmEditar.js.twig' %}
{% endblock %}